@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Tiro+Kannada&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

body {
    background: rgb(12, 205, 163);
    background: radial-gradient(circle, rgba(12, 205, 163, 1) 0%, rgba(193, 252, 211, 1) 64%);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: center;
}

nav h1 {
    font-family: 'Tiro Kannada', serif;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}



nav ul li a {
    color: #000;
    font-size: 18px;
    padding: 20px 15px 10px;
    transition: all .2s ease;
    font-weight: bold;
}

nav ul li a:hover {
    border-bottom: 2px solid #000;
    color: red;
}

.nav2 {
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
}

.nav2 h1 {
    padding: 10px;
}

.nav2 h1 i.cancel-btn {
    float: right;
    font-size: 35px;
    cursor: pointer;
}

.nav2 ul {
    text-align: center;
    background: #fff;
    display: none;
}

.nav2 ul li {
    padding: 10px;
    border-bottom: 1px solid #000;
}

.nav2 ul li a {
    color: #000;
}

.nav2 ul li a:hover {
    color: #ff0000;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

section .showcase {
    padding: 30px;

}

section .showcase h1 {
    font-family: 'Tiro Kannada', serif;
    font-size: 50px;
    color: #000;
    text-align: center;
    line-height: 1.2;
}

section .showcase p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #000;
    text-align: center;
    line-height: 1.2;
}

section .showcase button.button-a {
    margin: 20px 0 0 70px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: rgb(12, 205, 163);
}

section .showcase button.button-b {
    margin: 20px 0 0 70px;
    padding: 10px;
    color: #0ccda3;
    border: 3px solid #0ccda3;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background: #ffffff;
}

section .showcase button.button-a:hover {
    background: #fff;
    color: #0ccda3;
    border: 3px solid #0ccda3;
}

section .showcase button.button-b:hover {
    background: #0ccda3;
    color: #fff;
    border: 0;
}

section .image-div {
    padding: 40px;

}

section .catalogue {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
}

section .catalogue p {
    padding: 0 20px;
    font-size: 14px;
}

section .catalogue p span {
    font-weight: bolder;
    font-family: 'Tiro Kannada', serif;
    font-size: 18px;


}







/* Before breakpoint */
@media (max-width: 1363px) {
    nav h1 {
        font-size: 20px;
    }

    nav ul li a {
        font-size: 15px;
        padding: 20px 10px;

    }

    nav ul {
        margin-left: 10%;
    }

    section .image-div {
        padding: 10px;

    }

    section .image-div img {
        width: 400px;
        height: 400px;
    }
}



@media (max-width: 831px) {
    nav {
        display: none;
    }

    .nav2 {
        display: block !important;
    }

    section {
        display: block;
    }

    section .image-div img {
        width: 100%;
        height: 400px;
    }

    section .showcase button.button-a {
        margin-left: 15%;
    }
}

/* 255 150 0 */